# Generate a unique value at https://get.elabftw.net/?secretkey
ELABFTW_SECRET_KEY=

# Choose a strong password for the elabftw MySQL user
ELABFTW_DB_PASSWORD=

# Choose a different strong password for the MySQL root user
ELABFTW_DB_ROOT_PASSWORD=
